.table-container {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

table {
  min-width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid rgb(170, 170, 170);
  text-align: left;
  font-size: 80%;
  padding: 20px 0px;
  padding-right: 24px;
  white-space: nowrap;
}

td {
  height: 48px;
  padding-left: 0px;
  padding-right: 24px;
  border-bottom: 1px solid rgb(170, 170, 170);
}
